* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0px 0px;
}
/*

.panel-footer {
  background: #CE8383 !important;
  color: #FFFFFF !important;
}

.panel-heading {
  background: #337ab7 !important;
  color: #FFFFFF !important;
}
*/
